@import compass/reset
@import compass/css3

html
  height: 100%
body
  height: 100%

#playground
  background-color: #555
  height: 100%
  width: 100%
  position: absolute
  overflow: hidden

#canvas
  z-index: 3
  position: absolute

#front
  z-index: 10
  position: absolute

.ball
  width: 50px
  height: 50px
  position: absolute
  z-index: 2
  +border-radius(50px)

.ball.black
  +background-image(radial-gradient(32px 14px, white 2px, black 18px))

.ball.white
  +background-image(radial-gradient(32px 14px, black 2px, white 18px))

.platform
  width: 200px
  height: 25px
  z-index: 1
  position: absolute

.platform.black
  background-color: black

.platform.white
  background-color: white

