!!! 5
%html
  %head
    %title="black/white"
    %meta(charset="UTF-8")
    %script(type="text/javascript" src="/blite.js")
  %body
    %h1="black/white"
    %div
      Orientation:
      %span#orientation
